<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amadon</title>
</head>
<body>
    <h3>Thank you for your business!</h3>
    <p>Order {{this_order.id}}: We charged your credit card for ${{this_order.total_price}}</p>
    <p>You have ordered {{ all_orders.count }} items so far and spent ${{ all_orders_price }} with Amadon.com!</p>
    <p><a href="/">Go Back</a></p>
</body>
</html>